#spring:
#  cloud:
#    gateway:
#      mvc:
#        routes:
#          - id : r1
#            uri : http://localhost:8080
#            predicates:
#              - Path= /customers/**
#          - id: r2
#            uri: http://localhost:8081
#            predicates:
#              - Path= /accounts/**
#  application:
#    name: gateway-service
#server:
#  port: 8888

spring:
  cloud:
    gateway:
      mvc:
        routes:
          - id: r1
            uri: lb://CUSTOMER-SERVICE
            predicates:
              - Path=/CUSTOMER-SERVICE/**
            filters:
              - StripPrefix=1
          - id: r2
            uri: lb://ACCOUNT-SERVICE
            predicates:
              - Path=/ACCOUNT-SERVICE/**
            filters:
              - StripPrefix=1

